@model List<Producto>
@{
    ViewData["Title"] = "Home Page";
}

<!-- 
<div class="text-center">
    <h1 class="display-4">Se Busca</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Nombre Producto</p>
                </th>
                <th>
                    <p>Foto</p>
                </th>
                <th>
                    <p>Descripción</p>
                </th>
                <th>
                    <p>Precio</p>
                </th>
                <th>
                    <p>Celular de Contacto</p>
                </th>
                <th>
                    <p>Nombre del Comprador</p>
                </th>
                <th>
                    <p>Lugar</p>
                </th>
                <th>
                    <p>Categoria</p>
                </th>
                <th>
                    <p>Fecha publicación</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.NombreProducto)
                    </td>
                    <td>
                        <img src="@p.Foto" alt="" width="75" height="100">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.CelularContacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.NombreDelComprador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Lugar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.FechaPublicacion)
                    </td>
                </tr> 
            }
        </tbody>
    </table>

    -->
    <h1 class="display-4 text-center">Se busca</h1>
    <div class="row mt-5">
        @foreach(var p in Model){
            <div class="card col-4" style="width: 18rem;">
                <h5 class="text-center">@p.NombreProducto</h5>
                <img src="@p.Foto" lass="card-img-top" height="400px">
                <p>
                    Descripcion: @p.Descripcion <br>
                    Precio: S/. @p.Precio <br>
                    Celular de Contacto: @p.CelularContacto <br>
                    Lugar: @p.Lugar <br>
                    Nombre del Comprador: @p.NombreDelComprador <br>
                    Categoria: @p.Categoria <br>
                </p>
            </div>
        }

    </div>

    @if (Model.Count == 0)
    {
        <p>No hay solicitudes de Compra <a class="btn btn-primary" asp-action="FormularioProducto">Create New +</a></p>
    }